@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/EmptyLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.
        <a asp-area="Identity" asp-page="/Account/Login">Hey Click here to go to login</a>
        @* <a href="/Identity/Account/Login">Hey Click here to go to login</a> *@
        </p>
</div>
